body {
	color: #666;
	font-family: "Microsoft YaHei", 'PingHei 200', "Lucida Grande", "Lucida Sans Unicode", "Helvetica", "Arial", "Verdana", "sans-serif";
	font-size: 14px;
	letter-spacing: 1px;
}
h4 {} h5 {
	font-size: 16px;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
a:hover,
a:focus {
	text-decoration: none;
	color: inherit;
	/*background-color:transparent !important;*/
}
textarea {
	resize: vertical;
}
.snow-required {
	margin-right: 5px;
	font-size: 1.2em;
	color: orangered !important;
	vertical-align: top;
}
.snow-underline {
	border-bottom: 2px solid #999;
	padding-bottom: 3px;
}
.snow-padding-top-40 {
	padding-top: 40px;
}
.snow-padding-bottom-40 {
	padding-bottom: 40px;
}
.snow-uploads li {
	position: relative;
	width: 100px;
	height: 100px;
	line-height: 100px;
	margin-right: 20px;
	display: inline-block;
	border: 1px solid #eee;
	overflow: hidden;
}
.snow-uploads li img {
	width: 100%;
}
.snow-uploads li.snow-upload-target {
	border-width: 0;
}
.snow-uploads li.snow-img i {
	position: absolute;
	top: 2px;
	right: -1px;
	color: #ddd;
	cursor: pointer;
}
.snow-upload-target {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.snow-upload-target img {
	width: 100%;
}
.snow-upload-target .fs-upload-target {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 35px 0;
	font-size: 12px;
	line-height: initial;
	background-color: transparent;
	border-width: 1px;
}
/*头像*/

.snow-avatar {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	line-height: 100px;
	/*border: 1px solid #ddd;*/
	
	background-color: #fff;
	overflow: hidden;
}
/*定位*/
.abs{
	position: absolute;
}
.abs.top{
	top: 0;
}
.abs.right{
	right: 0;
}
.abs.left{
	left: 0;
}
.abs.top5{
	top: 5px;
}
.abs.right5{
	right: 5px;
}
.abs.left5{
	left: 5px;
}
.abs-top {
	position: absolute;
	top: 0;
	z-index: 1000;
}
.abs-center{
	left: 0;
	right: 0;
}
.abs-right-bottom {
	position: absolute;
	right: 0;
	bottom: 0;
}
/*修正bootstrap*/

.form-control {
	border-radius: initial;
}
.btn {
	letter-spacing: 2px;
	border-radius: initial;
}
table .btn {
	padding-top: 0;
	padding-bottom: 0;
}
.media {
	padding: 10px 20px;
	border: 1px solid #eee;
}
.media p {
	padding-top: 10px;
}
.media-heading {
	margin-right: 3em;
	font-weight: bold;
}
/*导航条*/

header.abs-top .nav {
	margin-top: 15px;
}
header.abs-top .nav>li>a {
	border: 1px solid #666;
	padding: 5px 15px;
	margin: 8px;
	/*background: #fff;*/
	color: #fff;
	/*border-radius: 5px;*/
}
header.abs-top .nav>li.active a {
	color: #999 !important;
	background: transparent !important;
}
.nav .snow-profile img {
	position: absolute;
	top: -4px;
	margin-left: -64px;
	width: 38px;
	height: 38px;
	border: 1px solid #eee;
}
.abs-top .nav a:hover,
.abs-top .nav a:focus {
	color: orangered;
	background: rgba(255, 255, 255, 0) !important;
}
.abs-top.header_shadow {
	box-shadow: 0 2px 5px #666;
}
/*联系我们*/

.submenu {
	display: none;
	position: fixed;
	top: 85px;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 2px #666;
	min-width: 140px;
	padding: 10px 0;
	text-align: center;
	z-index: 2000;
}
.submenu .fa-caret-up {
	margin-top: -30px;
	display: block;
	color: rgba(255, 255, 255, 1);
	font-size: 32px;
}
.submenu * {
	color: inherit;
}
.submenu p {
	width: 100%;
	padding: 0 15px;
	text-align: left;
	text-overflow: clip;
	overflow: hidden;
	white-space: normal;
	word-wrap: break-word;
	font-size: 12px;
}
.submenu img {
	top: 10px;
	width: 180px;
	display: inline;
	padding: 10px;
}
.submenu li {
	line-height: 2em;
	cursor: pointer;
}
.submenu li:hover {
	background: #666;
	color: #fff;
}
.submenu li a {
	display: block;
}
/*中间内容*/

.banner {
	position: relative;
	margin-bottom: 30px;
}
.banner .small {
	font-size: 12px;
	font-weight: initial;
	line-height: normal;
}
.slideshow {
	overflow: hidden;
	font-weight: bold;
	line-height: 1.5;
	position: relative;
}
.slideshow * {
	color: #fff;
}
.slideshow > .banner-nav {
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 10px;
}
.slideshow > .banner-nav span {
	display: inline-block;
	cursor: pointer;
	margin: 0 3px;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}
.slideshow > .banner-nav span:before {
	font: normal normal normal 14px/1 FontAwesome;
	width: 32px;
	font-size: 14px;
	content: "\f10c";
}
.slideshow > .banner-nav span.current:before {
	content: "\f111";
}
.slides {
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
	height: 425px;
	width: 100%;
	overflow: hidden;
	color: #333;
}
.slides > li {
	-webkit-perspective: 1600px;
	perspective: 1600px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: none;
	height: 100%;
	padding: 180px 80px 60px;
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
}
.slides > li.banner-1 {
	background-image: url(/html/images/banner02.png);
}
.slides > li.banner-2 {
	background-image: url(/html/images/banner01.png);
}
.slides .description {
	width: 100%;
	height: 100%;
	font-size: 1.5em;
	position: relative;
	z-index: 1000;
	letter-spacing: .2em;
}
.slides .description h2 {
	font-size: 200%;
}
.slides > li.current,
.slides > li.show {
	display: block;
}
.more-brand {
	text-align: right;
}
.snow-item-line * {
	padding: 0;
	text-align: center;
}
.snow-item-line hr {
	margin-top: -10px;
	border-color: #FF0000;
}
.snow-item-line .snow-color-red i {
	color: #FF0000;
}
.snow-media{
	margin: 0;
	padding: 0;
	height: 180px;
	border: 1px solid #666;
}
.snow-media:nth-child(2n+1){
	background: #666;
	color: #fff;
}
.snow-media .media-left{
	padding: 0;
	width: 100px;
	height: 100px;
  	display: table-cell;
  	vertical-align: middle;
  	overflow: hidden;
}
.snow-media .media-left a{

}
.snow-media .media-body{
	padding: 15px;
}
article.container {
	margin-top: 50px;
}
article p {
	text-align: left;
}
dl.snow-condition {
	margin-bottom: 10px;
}
dl.snow-condition dt{
	white-space: nowrap;
	padding-right: 10px;
}
dl.snow-condition dt,
dl.snow-condition dd {
	display: table-cell;
}
dl.snow-condition a {
	display: inline-block;
	margin-left: 5px;
	padding: 2px 5px;
}
dl.snow-condition a:active,
dl.snow-condition a.active {
	background: #ddd;
}
/*表单*/
form .error{
	font-size: .8em;
}
form .quirks .error{
	color:#fff;
}
form .alert {
	/*visibility:hidden;*/
	
	display: none;
	font-size: .9em;
}
form .alert.visible {
	visibility: visible;
}
/*页脚*/

#footer {
	padding: 20px;
	background-color: #333;
	line-height: initial;
	font-size: 12px;
}
#footer * {
	color: #999;
}
#footer a:hover {
	color: orangered;
}
#footer h4 {
	font-weight: bold;
	font-size: inherit;
}
/*#footer.fixfooter {
	position: fixed;
	bottom: 0 !important;
	left: 0 !important;
	right: 0 !important;
	top: auto !important;
}*/

#footer .copyright-div {
	border-top: 1px solid #444;
	margin-top: 10px;
	padding-top: 10px;
	text-align: center;
}
#footer .qr,
#footer .wx {
	text-align: center;
	width: 100%;
}
#footer .qr img,
#footer .wx img {
	display: inline;
	width: 100px;
}
#footer p {
	width: 100%;
	padding: 0px;
	margin-bottom: 5px;
}
#go-top {
	position: fixed;
	margin-left: 45px;
	z-index: 999;
	bottom: 225px;
	display: inline-block;
	font-size: 24px;
	background: #333;
	padding: 4px 10px 5px 11px;
	opacity: 0.3;
}
#go-top * {
	color: #fff;
}
#go-top:hover {
	opacity: 1 !important;
}
/*品牌*/

.brand-zone {
	position: relative;
	margin-left: -25px;
	margin-right: -25px;
}
.brand-zone .brand-card-container {
	padding: 2px 10px;
}
.brand-zone .brand-card {
	position: relative;
	top: 5px;
	border: 1px solid #eee;
	margin: 0px;
	z-index: 100;
	height: 185px;
	background-position: center center;
	background-size: cover;
}
.brand-zone .brand-card .logo-img {
	position: relative;
	left: 5px;
	top: 5px;
	width: 75px;
	height: 75px;
	overflow: hidden;
}
.brand-zone .brand-card .logo-img img {
	width: 100%;
}
.brand-zone .brand-card .brand-body{
	height: 110px;
overflow: hidden;
}
.brand-zone .brand-card .brand-footer {
	position: absolute;
	left: 85px;
	top: 5px;
	right: 0;
	padding: 2px 10px;
	margin: 0px;
}
.brand-zone .brand-card .brand-footer .brand:name {
	color: red;
	font-size: .8em;
}
.brand-zone .brand-card .brand-footer .brand-financ {
	position: relative;
}
.brand-zone .brand-card .brand-info {
	/*position: absolute;
	left: 0px;*/
	width: 100%;
	padding: 10px 10px;
	margin-bottom: 10px;
}
.brand-zone .brand-card .brand-info p {
	/*height: 105px;*/
	
	overflow: hidden;
	white-space: normal;
	word-wrap: break-word;
	line-height: 1.7;
}
.brand-zone .brand-card .brand-info .btn {
	display: none;
	position: absolute;
	bottom: 10px;
	left: 30%;
	z-index: 101;
}
/*融资经历*/

.snow-loop {
	position: relative;
	margin: 20px 20px 20px 0;
	padding: 20px;
	background-color: #eee;
}
.snow-loop label {
	margin-right: 20px;
}
.snow-loop .lead {
	margin-bottom: 15px;
}
.snow-loop hr {
	border-color: #ddd;
	margin: 10px 0 5px;
}
.snow-loop .snow-tools {
	position: absolute;
	top: 5px;
	right: 5px;
}
.snow-loop .snow-tools a {
	/*padding: 4px;*/
}
/*团队成员*/

.snow-member {
	position: relative;
	margin: 20px 20px 20px 0;
	padding: 20px 10px;
	background-color: #eee;
	text-align: center;
}
.snow-member .snow-tools {
	position: absolute;
	top: 5px;
	right: 5px;
}
.article-member p {
	text-align: center;
}
/* 移动终端 */

.mobile .banner {
	margin-top: 1px !important;
}
.mobile .navbar-fixed-bottom {
	position: relative !important;
}