* {
	font-family: 'PingHei 200', "Lucida Grande", "Lucida Sans Unicode", "Helvetica", "Arial", "Verdana", "sans-serif";
	color: inherit;
}
body {
	font-size: 18px;
	color: #666;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 18px;
	font-weight: 600;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
	color: inherit;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
/*修正bootstrap*/
.form-control{
	font-size: 16px;
	border-radius:initial;
}
.btn{
	font-size:18px;
	border-radius:initial;
}
table .btn{
	padding-top:0;
	padding-bottom: 0;
}
.media-heading{
	font-weight: bold;
	margin-right:3em;
}
/*导航条*/

.navbar-fixed-top {
	background: rgba(0, 0, 0, .6);
}
.navbar-fixed-top * {
	color: #fff;
}
.navbar-fixed-top .nav {
	margin-top: 15px;
}

.navbar-fixed-top .active a{
	color: #bbb;
}
.navbar-fixed-top .nav a:hover{
	color: orange;
	background: rgba(255,255,255,0) !important;
}
.navbar-fixed-top.header_shadow {
		box-shadow: 0 2px 5px #666;
}

/*联系我们*/

.submenu {
	display: none;
	position: fixed;
	top: 65px;
	background-color: rgba(255,255,255,1);
	box-shadow: 0px 0px 2px #666;
	min-width: 140px;
	padding: 10px 0;
	text-align: center;
	z-index: 2000;
}
.submenu .fa-caret-up{
	  margin-top: -30px;
  display: block;
  color: rgba(255,255,255,1);
  font-size: 32px;
}
.submenu * {
	color:inherit;
}
.submenu p {
	width: 100%;
	padding: 0 15px;
	text-align: left;
	text-overflow: clip;
	overflow: hidden;
	white-space: normal;
	word-wrap: break-word;
	font-size: 14px;
}
.submenu img {
	top: 10px;
	width: 180px;
	display: inline;
	padding: 10px;
}
.submenu li{
	line-height: 2em;
	cursor: pointer;
}
.submenu li:hover{
	background:#666;
	color:#fff;
}
.submenu li a{
	display: block;
}
/*中间内容*/
article.container{
	margin-top:80px;
}
article p{
	text-align: left;
}
/*表单*/
form .alert{
	visibility:hidden;
	font-size: .9em;
}
form .alert.visible{
	visibility:visible;
}

/*页脚*/

#footer {
	position: relative;
	top: 60px;
	padding: 20px;
	background-color: #333;
	margin: 0;
	line-height: initial;
	font-size: 14px;
}
#footer * {
	color: #999;
}
#footer h4 {
	font-weight: bold;
	font-size: inherit;
}
#footer.fixfooter {
	position: fixed !important;
	bottom: 0 !important;
	left: 0 !important;
	right: 0 !important;
	top: auto !important;
}
#footer .copyright-div {
	border-top: 1px solid #444;
	margin-top: 10px;
	padding-top: 10px;
	text-align: center;
}
#footer .qr,
#footer .wx {
	text-align: center;
	width: 100%;
}
#footer .qr img,
#footer .wx img {
	display: inline;
	width: 100px;
}
#footer p {
	width: 100%;
	padding: 0px;
	margin-bottom: 5px;
}
#go-top {
	position: fixed;
	z-index: 999;
	bottom: 225px;
	display: inline-block;
	width: 32px;
	font-size: 14px;
	background: #2476CE;
	padding: 10px 6px;
	opacity: 0.3;
	text-align: center;
}
#go-top * {
	color: #fff;
}
#go-top:hover {
	opacity: 1 !important;
}

/*品牌*/
.brand-zone {
	position: relative;
	margin-left: -25px;
	margin-right: -25px;
}
.brand-zone .brand-card-container {
	padding: 2px 10px;
}
.brand-zone .brand-card {
	position: relative;
	top: 5px;
	/*padding: 5px;*/
	
	margin: 0px;
	z-index: 100;
	height: 220px;
	background-position: center center;
	background-size: cover;
}
.brand-zone .brand-card .logo-img {
	position: relative;
	left: 5px;
	top: 5px;
	width: 75px;
	height: 75px;
}
.brand-zone .brand-card .logo-img img {
	width: 100%;
	border: 1px solid #eee;
}
.brand-zone .brand-card .brand-footer {
	position: absolute;
	left: 85px;
	top: 5px;
	padding: 2px 10px;
	margin: 0px;
}
.brand-zone .brand-card .brand-footer .brand:name {
	color: red;
	font-size: .8em;
}
.brand-zone .brand-card .brand-footer .brand-financ {
	position: relative;
}
.brand-zone .brand-card .brand-info {
	position: absolute;
	left: 0px;
	width: 100%;
	padding: 10px 10px;
	margin: 10px 5px;
}
.brand-zone .brand-card .brand-info p {
	/*height: 105px;*/
	
	overflow: hidden;
	white-space: normal;
	word-wrap: break-word;
	line-height: 1.35;
}
.brand-zone .brand-card .brand-info .btn {
	display: none;
	position: absolute;
	bottom: 10px;
	left: 30%;
	z-index: 101;
}

